<article class="home">
  <h1 class="title">K&S Rides </h1>
  <h2 class="italic">Kick Ass Rides</h2>
  <%= image_tag "https://i.ibb.co/zsXMP9M/card.png", alt: "corvette", class: "car" %>
  <p class="slogan">Don't want to <span class="italic">JUST</span> get there?</p>
</article>


