<h1>Rideshare Passengers</h1>

<section>
  <ul>
    <% @passengers.each do |passenger| %>
      <% if passenger.id == 0%>
        <% next %>
      <% end %>
      <li>
        <%= image_tag "https://api.adorable.io/avatars/200/.passenger#{passenger.id}.png", alt: "Passenger Avatar"%>
        <%= link_to "#{passenger.name}", passenger_path(passenger)%>
      </li>
      <li>
        <%= button_to "Delete", passenger_path(passenger), method: :delete%>
      </li>
      <li>
      <%=  button_to "Edit", edit_passenger_path(passenger), method: :get%>
      </li>
    <% end %>
  </ul>
</section>
