<h1>Rideshare Passengers</h1>

<section>
  <ul>
  <% @passengers.each do |passenger| %>
    <li>
    <%= link_to "#{passenger.name}", passenger_path(passenger)%>
    <ul>
      <li>
        <%= button_to "Delete", passenger_path(passenger), method: :delete%>
      </li>
      <li>
       <%=  button_to "Edit", edit_passenger_path(passenger), method: :get%>
      </li>
    </ul>
    </li>
  <% end %>
  </ul>
</section>
