<h1>Rideshare Drivers</h1>

<section>
  <ul>
    <% @drivers.each do |driver| %>
      <% if driver.id == 0%>
        <% next %>
      <% end %>
      <li>
        <%= image_tag "https://api.adorable.io/avatars/200/.driver#{driver.id}.png", alt: "#{driver.name}'s Avatar"%>
      </li>
      <li>
        <%= button_to "#{driver.name}", driver_path(driver.id), method: :get, class: "button" %>
      </li>
      <li>
        <%= button_to "Delete", driver_path(driver.id), method: :delete, class: "button" %>
      </li>
      <li>
        <%=  button_to "Edit", edit_driver_path(driver.id), method: :get, class: "button" %>
      </li>
    <% end %>
  </ul>
</section>


