/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

 body {
  font-family: 'Righteous', cursive;
  display: grid;
  grid-template-rows: 75px 1fr 20px;
  padding: 0;
  margin: 0;
  background-image: url("https://i.ibb.co/zHyyGcC/checkreba.png");
  background-color: black;
}

main{
  grid-row: 2;
}

/* nav bar style */

 .main_nav {
  background-image:
    linear-gradient(
      to right,
      rgb(159, 156, 156), black
    );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 99999;
 }

 .dropbtn {
  background-color: transparent;
  color: white;
  padding: 28px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}

/* trip table style */
.trip_table_title {
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.trip_table {
  margin: 0 auto 5% 10%;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 75%;
}

td, th {
  vertical-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

th {
  background: rgb(255, 0, 49);
}

/* Button style */
.button {
  width: auto;
  height: 2em;
  border-radius: .5em;
  background-image: linear-gradient(180deg, 
                                    hsl(0,0%,78%)  0%, 
                                    hsl(0,0%,90%) 47%, 
                                    hsl(0,0%,78%) 53%,
                                    hsl(0,0%,70%)100%);
  
  
  position: relative;
  outline: none;
  
  font: bold 1em/1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 2px, /* border */
  inset hsla(0,0%,15%, .8) 0 -1px 5px 2px, /* soft SD */
  inset hsla(0,0%,0%, .25) 0 -1px 0px 4px, /* bottom SD */
  inset hsla(0,0%,100%,.7) 0  2px 1px 4px, /* top HL */
  hsla(0,0%,100%,.5) 0  5px 6px 2px; /* outer HL */
  transition: color .2s;
    
}


.button:hover {
background-color: black;
color: white;
box-shadow: none;
background-image: none;
text-shadow: hotpink 0 -1px 0, purple 0 2px 1px;
}


.button:active {
  text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hotpink 0 2px 1px, rgba(242, 103, 226, 0.516) 0 0 5px, rgba(165, 149, 172, 0.543) 0 0 20px;
}


/* layout for  index views -> reused for passenger and driver*/

.index {
  color:white;
  text-align: center;
  font-size: 2em;
  background-color: black;
  padding: 10px;
  margin-top: -5px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

section.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 70px;
}

ul.list{
  background: radial-gradient(rgb(68, 11, 121),rgb(30, 2, 75), black);
  border: 3px black solid;
  border-radius: 10%;
  list-style-type: none;
  padding: 2em;

}

.list li{
  text-align: center;

}

/* all avatar */

.avatar {
  border-radius: 60%;
  border: solid;
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 2px, /* border */
  inset hsla(0,0%,15%, .8) 0 -1px 5px 2px, /* soft SD */
  inset hsla(0,0%,0%, .25) 0 -1px 0px 4px, /* bottom SD */
  inset hsla(0,0%,100%,.7) 0  2px 1px 4px, /* top HL */
  hsla(0,0%,100%,.5) 0  5px 6px 2px; /* outer HL */
  transition: color .2s;
}

/* show pages */
.show {
  background-image: none;
  background-color: white;
}

.show ul{
  list-style-type: none;  
}

/* form pages */

.form{
  font-size: 1em;
  background-color: white;
  padding-bottom: 10px;
}

/* footer */

footer {
  background-image:
  linear-gradient(
    to right,
    rgb(159, 156, 156), black
  );
  color: white;
  height: 20px;
  text-align: right;
  grid-row: -1;
  margin-top: -20px;
  padding-right: 15px;
}
